<!DOCTYPE html>

<html>
  <head>
    <title>You played scissors!</title>
    <meta charset="utf-8">
  </head>

  <body>
    <div><a href="/rock">Play Rock</a></div>
    <div><a href="/paper">Play Paper</a></div>
    <div><a href="/scissor">Play Scissors</a></div>
   
    <h2>We played scissors!</h2>
    
    <%# DYNAMIC RUBY %>
    <% moves = ["rock", "paper", "scissors"] %>
    <% comp_move = moves.sample %>

    <h2>They played <%= comp_move %>!</h2>

    <% if comp_move == "scissors" %>
    <% outcome = "tied" %>
    <% elsif comp_move == "rock" %>
    <% outcome = "lost" %>
    <% else %>
    <% outcome = "won" %>
    <% end %>

    <h2> We <%= outcome %>!</h2>>

    <%# UNCLEAR %>
    <a href="/" > Rules</a>
  </body>
</html>